.skills__lista--item {
    background: #ffffff;    
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

@media screen and (max-width: 480px){
    .skills__lista--item {
        margin-bottom: 2rem;
    }
}