.contato__mensagem {
    border: none;
    box-shadow: 0.5px 0.5px 3px #464646;
    font-family: Raleway, sans-serif;
    font-size: 1.2rem;
    padding-left: 0.4rem;
    padding-top: 0.6rem;
}

.contato__mensagem::placeholder {
    font-family: Raleway, sans-serif;
}

.contato__mensagem:focus {
    border-bottom: 2px #2a7ae4 solid;
    outline: none;
}