.contato__nome {
    border: none;
    box-shadow: 0.5px 0.5px 3px #464646;
    font-size: 1.2rem;
    font-family: Raleway, sans-serif;
    height: 2rem;
    padding: 0.2rem 0 0.2rem 0.4rem;
}

.contato__nome::placeholder {
    font-family: Raleway, sans-serif;
}

.contato__label--nome {
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}

.contato__nome:focus {
    border: none;
    border-bottom: 2px #2a7ae4 solid;
    outline: none;
}
