.contato__imagem {
    background-image: url(../../img/contato.jpg);
    background-position: center;
    background-size: cover;
    height: 572.47px;
    margin-right: 1rem;
    width: 800px;
}

@media screen and (max-width: 768px){
    .contato__imagem {
        display: none;
    }
}