.apresentacao__descricao {
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
    .apresentacao__descricao {
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}