.experiencia {
    background: #ededed;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 2rem 7rem;
}

@media screen and (max-width: 768px){
    .experiencia {
        padding: 2rem 1.5rem;
    }
}