.hobbies__lista--item {
    background: #ffffff;    
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.hobbies__lista--item:hover {
    box-shadow: 0.5px 0.5px 20px #2a7ae4;
}

@media screen and (max-width: 480px){
    .hobbies__lista--item {
        margin-bottom: 2rem;
    }
}