.hobbies__lista {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

@media screen and (max-width: 480px){
    .hobbies__lista {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}