.sobre-mim {
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;
}

@media screen and (max-width: 768px) {
    .sobre-mim {
        padding: 2rem 1.5rem;
    }
}