.rodape {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0;
}

.rodape__descricao{
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
}

.rodape__ano {
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
}