.formacao__lista {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px){
    .formacao__lista {
        align-items: center;
        flex-direction: column;
    }
}